@import './tools/reset';
@import url('../fonts/montserrat/stylesheet.css');

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100vh;
  min-height: 800px;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(180deg, #FFD284 0%, #FFE7BD 100%);
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main,
section {
  height: 100%;
}

section {
  position: relative;
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;

  &.active {
    overflow: visible;
    height: 100%;
    opacity: 1;
    visibility: visible;

    &.p--padding {
      padding: 0 32px 40px 32px;
    }
  }

}

@import './tools/srOnly';
@import './pages/welcome';

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.p__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;
  color: #3F170D;
}

.subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #3F170D;
}

.alert-btn {
  background-color: #E23C08;
  border-width: 0;
  border-radius: 100px;
  padding: 18px 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  filter: drop-shadow(0px 4px 16px rgba(101, 34, 13, 0.24));
}

.input {
  border-width: 0;
  border-radius: 16px;
  padding: 20px 24px;
  opacity: 0.8;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.05;
  filter: drop-shadow(0px 4px 16px rgba(101, 34, 13, 0.24));
  backdrop-filter: blur(8px);
  background: #FFFFFF;

  &::placeholder {
    color: #E1D2CE;
  }
}

.progress {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  padding: 0 32px;
  opacity: 0;
  visibility: hidden;
  height: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #3F170D;


  &.active {
    opacity: 1;
    visibility: visible;
    height: auto;
  }
}

.progress-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  background-color: #FFFFFF;
  border-radius: 20px;
}

.progress-bar__line {
  height: 6px;
  background: #3F170D;
  border-radius: 20px;
  width: 8.3%;
  transition: width 0.3s;
}

@import './pages/name';
@import './pages/year';
@import './pages/has-guitar';
@import './pages/inspirations';
@import './pages/thougt';
@import './pages/terms';
@import './pages/fact';
@import './pages/thanks';